node_modules/
dist/
coverage/
*.env
.env.*
.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_Store
*agents/
*.log
*.tsbuildinfo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.tgz